h1{
    text-align: center;
    margin-top: 5%;
    text-decoration: underline;
}
section {
    border: 2px solid black;
   padding:20px;
   position: absolute;
   justify-content: center; 
   align-content: center;
   background: linear-gradient(40deg, blue, purple);
   padding-bottom:60px;
   left:36%;
}
@media only screen and (max-width: 300px){
    section {
      margin-right:5%;
      margin-left:-30%;
    }
    button {
        margin:5px;
    }
}

button {
    background-color: aqua;
}
label {
    font-size: 20px;;
}
input {
    padding:5px;
    text-align: center;
    font:5px;
}
.ans {
    text-align:center;
    font-size: large;
    border:1px solid black;
    border-radius:20px;
    position:absolute;
    padding:5px;
    background-color:aqua

}